@font-face{
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-family: Poppins-Regular;
}
@font-face{
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
    font-family: Poppins-Semibold;
}
@font-face{
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-family: Poppins-Bold;
}

#app{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;
}
body{
    font-family: Poppins-Regular;
}

.c-text-primary{
    color: #474787;
}
.c-text-default{
    color: #1e272e;
}
.c-text-white{
    color: #fff;
}
.btn{
    color: #fff;
    padding: 8px 16px;
    border-radius: 30px;
    border: none;
    outline: none;
    position: relative;
    text-align: center;
    -webkit-transition-duration:.3s;
    transition-duration:.3s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.btn:focus{
    outline: none;
}
.btn:after {
    content: "";
    background: rgba(255, 255, 255, .3);
    display: block;
    position: absolute;
    border-radius: 30px;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s
  }
.btn:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.btn.c-btn-primary{
    background-color: #474787;
}
.btn.c-btn-outline-primary{
    border: 1px solid #474787;
    color: #474787;
}

.c-form-control{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #f2f2f2;
    padding: 2px;
    transition: .4s all ease-out;
}
.c-form-control:focus{
    border-bottom: 1.5px solid #1e272e;
}
.c-search-wrapper{
    border: 1px solid #474787;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: #fff;
}
.c-search-wrapper .fas{
    color: #CCC;
    margin-right: 15px;
}
.c-form-control.search{
    border: none;
}
.c-wrapper-top{
    background-color: #474787;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}
.c-box-shadow{
    border: 1px solid #eee
}



/* CUSTOM INTRO */

.c-divider-header{
    background-color: #474787;
    width: 50px;
    height: 2px;
}
.c-divider-header.bg-white{
    background-color: #fff;
}
.c-intro{
    transition: .5s ease-out;
    transform: translateX(1000px);
}
.c-intro.active{
    transform: translateX(0);
}
.c-banner{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.bg-primary{
    background-color: #474787;
}
.bg-yellow{
    background-color: #f39c12;
}
.bg-white{
    background-color: #fff;
}


/* TABS */
.tabs{
    background-color: #474787;
    border-radius: 30px;
}
.tabs a{
    color: #fff;
    padding: 20px;
}
.tabs a i{
    font-size: 25px;
}
.tabs .relative a{
    position: absolute;
    top: -20px;
    background-color: #fff;
    border: 3px solid #474787;
    color: #474787;
    border-radius: 30px;
}