@font-face{
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-family: Poppins-Regular;
}
@font-face{
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
    font-family: Poppins-Semibold;
}
@font-face{
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-family: Poppins-Bold;
}

#app{
    width: 100%;
    height: 100%;
    overflow: auto;
}
body{
    font-family: Poppins-Regular;
    height: 100%;
    margin: 0;
}

.c-text-primary{
    color: #474787;
}
.c-text-default{
    color: #1e272e;
}
.c-text-white{
    color: #fff;
}
a, button{
    -webkit-tap-highlight-color: transparent;
}
.btn{
    display: block;
    color: #fff;
    padding: 8px 16px;
    border: none;
    outline: none !important;
    position: relative;
    text-align: center;
    transition-duration:.3s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
}
.btn:focus {outline:0;
    border-radius: 30px;}
.btn:after {
    content: "";
    background: rgba(255, 255, 255, .3);
    display: block;
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s
  }
.btn:active:after{
    border-radius: 30px;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.btn.c-btn-primary{
    background-color: #474787;
}
.btn.c-btn-outline-primary{
    border: 1px solid #474787;
    color: #474787;
}

.c-form-control{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #f2f2f2;
    padding: 2px;
    transition: .4s all ease-out;
}
.c-form-control:focus{
    border-bottom: 1.5px solid #1e272e;
}
.c-search-wrapper{
    border: 1px solid #474787;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: #fff;
}
.c-search-wrapper .fas{
    color: #CCC;
    margin-right: 15px;
}
.c-form-control.search{
    padding: 1px;
    border: none;
}
.c-wrapper-top{
    position: relative;
    overflow: hidden;
}
.c-bg-wrapper{
    background-color: #474787;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    width: 100%;
    height: 270px;
    z-index: -1;
}
.c-bg-wrapper:before{
    content: '';
    position: absolute;
    left: -192px;
    top: -350px;
    width: 120%;
    height: 400px;
    background-color: rgba(0,0,0,.2);
    transform: rotate(-60deg);
}
.c-bg-wrapper:after{
    content: '';
    position: absolute;
    left: -200px;
    top: -400px;
    width: 120%;
    height: 400px;
    background-color: rgba(0,0,0,.2);
    transform: rotate(-60deg);
}
.c-box-shadow{
    border: 1px solid #eee
}
.c-user-circle{
    color: #474787;
    font-size: 20px;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    background-color: #fff;
}



/* CUSTOM INTRO */

.c-divider-header{
    background-color: #474787;
    width: 50px;
    height: 2px;
}
.c-divider-header.bg-white{
    background-color: #fff;
}
.c-intro{
    transition: .5s ease-out;
    transform: translateX(1000px);
}
.c-intro.active{
    transform: translateX(0);
}
.c-banner{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.bg-primary{
    background-color: #474787;
}
.bg-yellow{
    background-color: #f39c12;
}
.bg-white{
    background-color: #fff;
}


/* TABS */
.tabs{
    background-color: #474787;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 9999;
}
.tabs a{
    color: #fff;
    padding: 15px 20px;
}
.tabs a i{
    font-size: 20px;
}
.tabs .relative a{
    position: absolute;
    top: -20px;
    background-color: #fff;
    border: 3px solid #474787;
    color: #474787;
    border-radius: 30px;
}